.footer {


}

.footer-top {
  height: 41px;
  background-color: $back-footer-top;
  display: flex;
  align-items: center;
  @include phone-767 {
    height: auto;
  }

  &-menu {
    display: flex;
    align-items: center;
    @include phone-767 {
      align-items: normal;
      flex-wrap: wrap;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    li {
      padding-left: 11px;
      padding-right: 20px;
      @include phone-1023 {
        padding-left: 15px;
        padding-right: 15px;
      }
      @include phone-767 {
        flex-basis: 50%;
      }

      a {
        color: $white-color;
        font-size: 13px;
        @include phone-767 {
          font-size: 12px;
          line-height: 22px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer-top-menu-rek {
      a {
        color: $color-footer-rek;
        font-family: $font-extrabold;
      }
    }
  }
}

.footer-bottom {
  background-color: $back-footer-bottom;
  padding-top: 20px;
  padding-bottom: 10px;
  @include phone-767 {
    padding-top: 10px;
  }

  &-col-1 {
    flex-basis: 21.4%;
    @include phone-1023 {
      flex-basis: 4.4%;
    }
    @include phone-767 {
      flex-basis: 100%;
    }
  }

  &-col-2 {
    max-width: 225px;
  }

  &-col-3 {
    position: relative;
  }

  &-text {
    border-left: 1px solid #74bfe2;
    padding-left: 10px;

    p {
      color: $color-zapis;
      font-size: 11px;
      margin-bottom: 11px;
      line-height: 14px;

    }
  }

  &-menu {
    list-style-type: none;
    @include phone-1023 {
      padding-left: 15px;
      padding-right: 15px;
    }

    li {
      margin-bottom: 8px;

      a {
        font-size: 12px;
        line-height: 17px;
        color: $white-color;
        text-decoration: underline;
        @include phone-767 {
          font-size: 11px;
          line-height: 19px;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &-soc-statistic {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include phone-1023 {
      padding-right: 15px;
    }
    @include phone-767 {
      display: block;
      padding-left: 15px;
    }

    .footer-bottom-soc {
      &-list {
        @include phone-767 {
          margin-bottom: 10px;
        }
      }
      &-title {
        color: $white-color;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 4px;
      }

      img {
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  &-copyright {
    color: $color-zapis;
    font-size: 11px;
    position: absolute;
    bottom: 4px;
    @include phone-767 {
      position: relative;
      margin-bottom: -22px;
      float: right;
      max-width: 207px;
      text-align: right;
      padding-right: 15px;
      line-height: 14px;
      bottom: 30px;
    }
  }

}

.cookie-window {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $back-footer-top;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  @include phone-1023 {
    padding-left: 15px;
    padding-right: 15px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phone-767 {
      display: block;
    }

    p {
      color: $white-color;
      flex-basis: 90%;
      line-height: 18px;
    }

    span {
      color: $color-button;
      font-weight: bold;
      font-size: 14px;
      border-radius: 5px;
      background-color: $back-button;
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      @include phone-767 {
        display: block;
        margin-top: 15px;
        text-align: center;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.footer-bottom-text-mobile {
  background-color: $back-footer-top;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cookie-window-show {
  display: block;
}