header {
  .sub-menu-active-parent {
    @include phone-767 {
      color: $color-link !important;
      text-decoration: underline;
    }
  }

  .header-top-mobile {
    background-color: $back-mobile;

    &-content {
      display: flex;
      justify-content: space-between;
      padding-left: 15px;

      padding-top: 5px;
      padding-bottom: 5px;
      align-items: center;

      &-gamburger {
        &-icon {
          cursor: pointer;
        }
      }
    }

    .header-bottom-link-right {
      &:after {
        top: 4px;
        right: -3px;
      }
    }
  }

  .header-bottom-link-right {


    text-transform: uppercase;
    font-size: 11px;
    color: $color-menu;
    font-weight: 300;
    position: relative;
    opacity: 0.5;
    display: flex;
    align-items: center;
    padding-right: 12px;
    @include phone-1023 {
      margin-right: 15px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 16px;
      right: 0;
      border: 4px solid transparent;
      border-top-color: transparent;
      border-top-style: solid;
      border-top-width: 4px;
      border-top: 4px solid $color-menu;
    }
  }

  .header-top-mobile-content-gamburger-menu {
    display: none;
    position: absolute;
    background-color: $back-mobile;
    width: 100%;
    left: 0;
    z-index: 1;

    ul {
      display: block;
      padding-top: 3px !important;
      padding-bottom: 3px !important;

      > li {
        border-bottom: 1px solid #ccc;
        display: block !important;

        &:hover p + div {
          display: none;
        }

        .sub-menu-active {
          display: block !important;
          position: relative;
          height: auto;
          padding-bottom: 0;

          .submenu-small-wrap {
            background: none;
            border: none;

            ul {
              display: block;

            }
          }

          .wrap {
            background: none;
            border: none;

            .wrap-inner {
              display: block;

            }
          }
        }
      }

      li {
        a {
          line-height: 25px;
        }

        p {
          line-height: 25px;
        }
      }
    }

    > ul {
      padding-bottom: 13px !important;
    }
  }

  .header-top-mobile-content-gamburger-menu-active {
    display: block;
  }

  .header-top {
    border-bottom: 1px solid #eee;
    height: 70px;
    background: $back-header-top;
    @include phone-767 {
      height: 110px;
    }

    .site-width {
      @include phone-1023 {
        height: 100%;
      }

      .row {
        @include phone-1023 {
          height: 100%;
        }
      }
    }

    .block-search {

      display: flex;
      align-items: center;
      @include phone-1023 {
        padding-right: 15px;
      }
      @include phone-767 {
        padding-left: 5px;
        top: -10px;
        position: relative;
        width: 100%;
      }

      &-text {
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        padding-right: 10px;
      }

      img {
        @include phone-767 {
          position: absolute;
          left: 25px;
        }
      }

      &-form {
        padding-left: 10px;
        @include phone-767 {
          width: 100%;
          display: flex;
        }

        input[type=text] {
          max-width: 153px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          @include phone-767 {
            max-width: none;
            width: calc(100% - 78px);
            padding-left: 35px;
          }
        }

        input[type=submit] {
          color: $color-button;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          background-color: $back-button;
          height: 32px;
          position: relative;
          top: -1px;
          @include phone-767 {
            top: 0;
          }
        }
      }
    }

    .col-logo {
      flex-basis: 40%;

      @include desktop-1097 {
        flex-basis: 35%;
      }
      @include phone-1023 {
        flex-basis: 5%;
      }
      @include phone-767 {
        flex-basis: 100%;
      }

      .block-logo {
        @include phone-1023 {
          height: 100%;
        }
      }

      .block-logo-link {

        display: flex;
        align-items: center;
        @include phone-1023 {
          height: 100%;
        }
        @include phone-767 {
          overflow: hidden;
          max-width: 320px;
        }

        .img {
          position: relative;
          left: -44px;
          @include phone-1023 {
            left: -28px;
            width: 120px;
            top: 0px;
          }

        }

        span {
          color: $white-color;
          font-family: $font2;
          font-size: 26px;
          text-transform: uppercase;
          margin-left: -43px;
          letter-spacing: 0.6px;
          @include desktop-1097 {
            font-size: 25px;
          }
          @include phone-1023 {
            padding-right: 9px;
            top: 3px;
            left: 60px;
            position: relative;
            margin-left: -88px;
            font-size: 21px;
          }
          @include phone-767 {
            font-size: 17px;
            letter-spacing: 0;
          }
        }
      }
    }

    .col-right {
      @include phone-767 {
        justify-content: flex-start;
      }
    }
  }

  .header-bottom {
    &-menu {
      height: 34px;
      border-top: 1px solid #097ab1;
      background-color: $back-header-bottom-1;

      .col-header-bottom {
        flex-basis: 65%;
        @include desktop-1097 {
          flex-basis: 80%;
        }
        @include phone-1023 {
          flex-basis: 70%;
        }
      }

      &-ul {
        display: flex;

        li {
          padding-right: 25px;
          @include desktop-1200 {
            padding-right: 20px;
          }

          &:hover p + div {
            @include desktop-1201 {
              display: block;
            }
          }

          a {
            color: $color-menu;
            text-transform: uppercase;
            line-height: 34px;
            cursor: pointer;
            font-size: 12px;
            font-weight: bold;
            font-family: $font-semibold;


            &:hover {
              text-decoration: underline;
            }
          }

          p {
            color: $color-menu;
            text-transform: uppercase;
            line-height: 34px;
            cursor: pointer;
            font-size: 12px;
            font-weight: bold;
            font-family: $font-semibold;

            &:hover {
              text-decoration: underline;
            }
          }
          .sub-menu-active {
            display: block !important;
          }
          .submenu-small {
            display: none;
            position: absolute;
            width: 100%;
            height: 34px;
            left: 0;
            z-index: 2;


            margin-top: -4px;
            padding-top: 4px;



            &-wrap {
              background-color: $back-white;
              border-bottom: 1px solid #bbb;

              ul {
                display: flex;
                padding-left: 15px;
                flex-wrap: wrap;

                li {
                  padding-right: 10px;
                  @include desktop-1097 {
                    padding-right: 9px;
                  }
                  @include phone-1023 {
                    padding-right: 10px;
                  }

                  a {
                    text-transform: none;
                    text-decoration: underline;
                    font-size: 11px;
                    @include phone-1023 {
                      font-size: 10px;
                    }

                    &:hover {
                      color: $color-link;

                    }
                  }
                }
              }
            }
          }

          .submenu-big {
            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            z-index: 2;
            padding: 20px 0;
            margin-top: -4px;
            padding-top: 4px;

            .wrap {
              background-color: $back-white;
              border-bottom: 1px solid #bbb;

              .wrap-inner {
                display: flex;
                padding-left: 15px;

                ul {
                  padding-top: 20px;
                  padding-bottom: 15px;


                  li {
                    &:first-child span {
                      padding-top: 0;
                    }

                    a {
                      text-transform: none;
                      text-decoration: underline;
                      line-height: 18px;

                      &:hover {
                        color: $color-link;

                      }
                    }

                    span {
                      font-size: 14px;
                      text-transform: uppercase;
                      font-weight: 600;
                      padding-bottom: 4px;
                      display: block;
                      padding-top: 15px;

                    }
                  }
                }
              }
            }
          }


        }

        > li {
          &:nth-last-of-type(2), &:nth-last-of-type(3) {
            @include phone-1023 {
              display: none;
            }
          }

          @include phone-1023 {
            padding-right: 0;
            padding-left: 15px;
          }
        }

        .header-bottom-menu-ul-li-mobile {
          display: none;
          position: relative;
          @include phone-1023 {
            display: block;
          }

          .submenu-small-tabled {
            position: absolute;
            left: -20px;

            width: auto;
            background-color: $back-header-bottom-1;
            height: auto;

            li {
              display: block;
              padding-left: 24px;
              padding-right: 24px;
            }
          }
        }
      }

    }


  }
}

.header-bottom-link {
  background-color: $back-header-bottom-2;
  height: 34px;

  ul {
    display: flex;
    align-items: center;
    line-height: 39px;
    @include phone-1023 {
      line-height: 31px;
      padding-left: 15px;
    }

    li {
      position: relative;
      padding-right: 30px;

      &:after {
        position: absolute;
        content: '|';
        color: $color-brand;
        right: 12px;
      }

      a {
        color: $color-brand;
        font-size: 13px;

        &:hover {
          text-decoration: underline;
        }
      }

      &:last-child {
        &:after {
          content: none;
        }
      }

    }
  }

  .breadcrumbs {
    li {
      padding-right: 20px;

      a {
        font-size: 12px;
      }

      &:after {
        content: '>';
        right: 6px;
      }
    }
  }
}