.content-category {
  padding-bottom: 0;
}

.content-category {
  @include phone-767 {
    padding-top: 5px;
  }
  .h1 {
    padding-left: 15px;
    padding-right: 15px;
    @include phone-767 {
      font-size: 18px;
      padding-bottom: 5px;
      line-height: 24px;
    }
  }
}

.posts-category-list {
  display: flex;
  flex-wrap: wrap;

  &-item {
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: calc(25% - 20px);

    border: 1px solid #d5d5d5;
    margin-top: 10px;
    margin-bottom: 10px;
    @include phone-1023 {
      flex-basis: calc(50% - 20px);
    }
    @include phone-767 {
      flex-basis: 100%;
    }

    img {
      @include phone-1023 {
        width: 100%;
      }
    }

    &-content {

      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      padding-top: 10px;

      a {
        font-size: 13px;
        font-family: $font-bold;


      }

      p {
        font-size: 13px;
        display: inline;
      }
    }
  }
}

.pagenavi {
  padding-bottom: 5px;
  span {
    @include phone-767 {
      display: none;
    }
  }

  &-block {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: $back-pagenavi;
    height: 44px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    &-list {
      display: flex;
      padding-left: 15px;
      align-items: center;
      @include phone-767 {
        padding-left: 0;
      }

      li {
        padding-left: 4px;
        padding-right: 4px;
        font-family: $font-semibold;

        a {
          font-family: $font-semibold;
          color: $main-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &-active {
        a {
          color: $color-pagenavi-active !important;
          text-decoration: underline;
        }
      }

      &-prev {
        padding-right: 12px;

        a {
          background-image: url(../images/icon/navi.png);
          width: 24px;
          height: 24px;
          display: block;
          background-position: -6px 0px;
          position: relative;

          &:hover {
            background-position: -6px -30px;
          }
        }
      }

      &-next {
        padding-left: 12px;

        a {
          background-image: url(../images/icon/navi.png);
          width: 24px;
          height: 24px;
          display: block;
          background-position: -36px 0px;
          position: relative;

          &:hover {
            background-position: -36px -30px;
          }
        }
      }
    }
  }
}

.reklama {
  padding-top: 15px;
  padding-bottom: 15px;
}

.posts-2 {
  display: flex;
  padding-top: 15px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    @include phone-1023 {
      margin: 0;
    }

    &-item {
      flex-basis: calc(20% - 20px);
      margin-left: 10px;
      margin-right: 10px;
      background-color: $back-last-news;
      margin-bottom: 20px;
      @include phone-1023 {

        flex-basis: calc(33.3333333333% - 20px);
      }
      @include phone-767 {
        flex-basis: 100%;
      }

      img {
        @include phone-1023 {
          width: 100%;
        }
      }

      &-title {
        text-align: center;
        display: block;
        text-decoration: underline;
        line-height: 16px;
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;

        &:hover {
          text-decoration: none;
        }

      }
    }
  }
}

.smtag {
  padding-top: 25px;
  @include phone-1023 {
    padding-left: 15px;
    padding-right: 15px;
  }

  &-title {
    text-transform: uppercase;
    background-color: $back-last-med-title;
    padding: 15px;
  }

  &-block {
    display: flex;
    flex-wrap: wrap;
    background-color: $back-last-news;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-right: 22.5px;
    padding-left: 22.5px;
    @include phone-767 {
      padding-right: 10px;
      padding-left: 10px;
    }

    &-item {
      margin-right: 17.5px;
      margin-left: 17.5px;
      flex-basis: calc(50% - 35px);
      background-color: $back-white;
      margin-bottom: 15px;
      border: 1px solid #e0e2e3;
      list-style-type: disc;
      color: $color-link;
      list-style-position: inside;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 26px;
      @include phone-1023 {
        margin-right: 0;
        margin-left: 0;
        flex-basis: 100%;
      }
      @include phone-767 {
        padding-top: 10px;
        padding-bottom: 10px;

        padding-left: 10px;
        padding-right: 10px;
        font-size: 23px;
      }

      &-title {
        font-size: 18px;
        position: relative;
        top: -3px;
        @include phone-767 {

          font-size: 14px;
        }

        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
}

.blocks-category {
  padding-top: 20px;
  @include phone-1023 {
    overflow: hidden;
  }

  .row {
    margin-left: -17.5px;
    margin-right: -17.5px;
    flex-wrap: wrap;
    @include phone-1023 {
      margin-left: 0;
      margin-right: 0;
    }

    .col {
      padding-left: 17.5px;
      padding-right: 17.5px;
      flex-basis: calc(50% - 35px);
      margin-bottom: 33px;
      @include phone-1023 {
        padding-left: 15px;
        padding-right: 15px;
        flex-basis: 100%;
      }
      img {
        @include phone-1023 {
          margin: 0 auto;
        }
      }
    }
  }
}

.block-title {
  text-transform: uppercase;
  background-color: $back-last-med-title;
  padding: 15px;
}

.block-back {
  background-color: $back-block;
}

.block-link {
  padding: 20px;
  padding-bottom: 0;

  li {
    padding-bottom: 18px;

    a {
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.block-baner {
  align-items: center;
  display: flex;
  height: 100%;
}

.block-baner-2 {
  height: calc(100% - 46px);
  img {
    @include phone-1023 {
      width: 100%;
    }
  }
}

.block-partners {
  &-item {
    margin-top: 20px;
    margin-bottom: 5px;
    @include phone-767 {

    }

    p {

      font-size: 15px;
      display: inline;

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

    }

    img {
      display: block;
      margin-bottom: 3px;
      @include phone-1023 {
        margin-left: 0 !important;
      }
    }
  }
}