.header-bottom-link
    .site-width
        .row
            .col.col-header-bottom
                ul.header-bottom-link-ul.breadcrumbs
                    li.header-bottom-link-ul-li
                        a(href="#")
                            | Портал о медицине и здоровье
                    li.header-bottom-link-ul-li
                        a(href="#")
                            | Статьи врачей
                    li.header-bottom-link-ul-li
                        | Фитнес и здоровье, косметология
