.content-index
    h1.h1
        | Популярные статьи, кардиология
    section.posts-category
        ul.posts-category-list
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-1.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Болезни сердца у женщин
                    p
                        | - чем отличаются мужское и женское сердце и почему женщины часто оставляют без внимания признаки сердечного приступа, как распознать болезнь, чтобы вовремя обратиться к врачу
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-2.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Межреберная невралгия или сердечный приступ - 5 основных различий
                    p
                        | - почему важно вовремя распознать причину боли, 5 основных различий в симптомах
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-3.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Если в крови понижен холестерин – это опасно?
                    p
                        | - для чего нужен холестерин здоровому человеку, как проявляется низкий холестерин в крови, причины понижения холестерина в крови, лечение, богатые полезным холестерином продукты
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-4.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Межреберная невралгия или сердечный приступ - 5 основных различий
                    p
                        | - почему важно вовремя распознать причину боли, 5 основных различий в симптомах
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-4.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Межреберная невралгия или сердечный приступ - 5 основных различий
                    p
                        | - почему важно вовремя распознать причину боли, 5 основных различий в симптомах
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-4.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Межреберная невралгия или сердечный приступ - 5 основных различий
                    p
                        | - почему важно вовремя распознать причину боли, 5 основных различий в симптомах
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-4.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Межреберная невралгия или сердечный приступ - 5 основных различий
                    p
                        | - почему важно вовремя распознать причину боли, 5 основных различий в симптомах
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-4.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Межреберная невралгия или сердечный приступ - 5 основных различий
                    p
                        | - почему важно вовремя распознать причину боли, 5 основных различий в симптомах
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-4.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Межреберная невралгия или сердечный приступ - 5 основных различий
                    p
                        | - почему важно вовремя распознать причину боли, 5 основных различий в симптомах
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-4.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Межреберная невралгия или сердечный приступ - 5 основных различий
                    p
                        | - почему важно вовремя распознать причину боли, 5 основных различий в симптомах
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-4.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Межреберная невралгия или сердечный приступ - 5 основных различий
                    p
                        | - почему важно вовремя распознать причину боли, 5 основных различий в симптомах
            li.posts-category-list-item
                a(href="#")
                    +img('content/post-list-4.jpg')
                .posts-category-list-item-content
                    a(href="#")
                        | Межреберная невралгия или сердечный приступ - 5 основных различий
                    p
                        | - почему важно вовремя распознать причину боли, 5 основных различий в симптомах
    section.pagenavi
        .pagenavi-block
            span
                | Страницы:
            ul.pagenavi-block-list
                li.pagenavi-block-list-prev
                    a(href="#")
                li.pagenavi-block-list-active
                    a(href="#")
                        | 1
                li
                    a(href="#")
                        | 2
                li
                    a(href="#")
                        | 3
                li
                    a(href="#")
                        | 4
                li
                    a(href="#")
                        | 5
                li
                    a(href="#")
                        | 6
                li
                    a(href="#")
                        | 7
                li
                    a(href="#")
                        | 8
                li
                    a(href="#")
                        | 9
                li
                    a(href="#")
                        | 10
                li.pagenavi-block-list-doted
                    | ...
                li
                    a(href="#")
                        |
                li.pagenavi-block-list-next
                    a(href="#")

    section.reklama
        <div class="commercial"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1046566326511977" data-ad-slot="8159154992" data-ad-format="auto" data-full-width-responsive="true"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>
    section.posts-2
        ul.post-2-list
            li.post-2-list-item
                a(href="#")
                    +img('content/post-2-1.jpg')
                a.post-2-list-item-title
                    | Какие продукты опередили молоко по содержанию кальция?
            li.post-2-list-item
                a(href="#")
                    +img('content/post-2-2.jpg')
                a.post-2-list-item-title
                    | Почему обогреватели вредят здоровью и могут даже привести к смерти?
            li.post-2-list-item
                a(href="#")
                    +img('content/post-2-3.jpg')
                a.post-2-list-item-title
                    | 7 причин каждый день съедать по два яйца
            li.post-2-list-item
                a(href="#")
                    +img('content/post-2-4.jpg')
                a.post-2-list-item-title
                    | Что нужно сделать, чтобы не заболеть коронавирусом?
            li.post-2-list-item
                a(href="#")
                    +img('content/post-2-5.jpg')
                a.post-2-list-item-title
                    | Какие продукты опередили молоко по содержанию кальция?