header.header
    .header-top-mobile.phone-show-767
        .header-top-mobile-content
            .header-top-mobile-content-gamburger
                +img('icon/gamburger.png', 'header-top-mobile-content-gamburger-icon')
                .header-top-mobile-content-gamburger-menu
                    ul.header-bottom-menu-ul
                        li.header-bottom-menu-ul-li
                            p
                                | Новости и видео
                            .submenu-small
                                .submenu-small-wrap
                                    .site-width
                                        ul
                                            li
                                                a(href="#")
                                                    | Медновости
                                            li
                                                a(href="#")
                                                    | Экспорт новостей
                                            li
                                                a(href="#")
                                                    | Видео-канал о медицине
                                            li
                                                a(href="#")
                                                    | Видео о психологииe
                                            li
                                                a(href="#")
                                                    | Рассылка на емайл
                        li.header-bottom-menu-ul-li
                            p
                                | Болезни и лекарства
                            .submenu-big
                                .wrap
                                    .site-width
                                        .wrap-inner
                                            ul
                                                li
                                                    span
                                                        | Лекарства
                                                li
                                                    a(href="#")
                                                        | Инструкции лекарств
                                                li
                                                    a(href="#")
                                                        | Статьи о лекарствах
                                                li
                                                    span
                                                        | Нетрадиционная медицина
                                                li
                                                    a(href="#")
                                                        | Восточная медицина
                                                li
                                                    a(href="#")
                                                        | Народная медицина
                                                li
                                                    a(href="#")
                                                        | Гомеопатия
                                                li
                                                    a(href="#")
                                                        | Лечение травами
                                                li
                                                    span
                                                        | Человек и...
                                                li
                                                    a(href="#")
                                                        | Анатомия человека
                                                li
                                                    a(href="#")
                                                        | Биология и генетика
                                                li
                                                    a(href="#")
                                                        | Биохимия и человек

                                                li
                                                    a(href="#")
                                                        | Компьютер и здоровье
                                                li
                                                    a(href="#")
                                                        | Контрацепция
                                                li
                                                    a(href="#")
                                                        | Косметология, красота
                                            ul
                                                li
                                                    a(href="#")
                                                        | Сексуальное здоровье ее и его
                                                li
                                                    a(href="#")
                                                        | Физиология человека
                                                li
                                                    a(href="#")
                                                        | Фитнес и спорт
                                                li
                                                    a(href="#")
                                                        | Человек и... кофе, пиво, солнце...
                                                li
                                                    span
                                                        | Болезни
                                                li
                                                    a(href="#")
                                                        | Алкоголизм
                                                li
                                                    a(href="#")
                                                        | Аллергия
                                                li
                                                    a(href="#")
                                                        | Гастроэнтерология
                                                li
                                                    a(href="#")
                                                        | Гематология (болезни крови)
                                                li
                                                    a(href="#")
                                                        | Гинекология
                                                li
                                                    a(href="#")
                                                        | Диагностика (методы)
                                                li
                                                    a(href="#")
                                                        | Диеты и питание
                                                li
                                                    a(href="#")
                                                        | Зрение
                                                li
                                                    a(href="#")
                                                        | Иммунология
                                                li
                                                    a(href="#")
                                                        | Инфекции


                                            ul
                                                li
                                                    a(href="#")
                                                        | Кардиология, сердце
                                                li
                                                    a(href="#")
                                                        | Кожные, венерические болезни
                                                li
                                                    a(href="#")
                                                        | Криотерапия (лечение холодом)
                                                li
                                                    a(href="#")
                                                        | Лазеротерапия (лечение лазером)
                                                li
                                                    a(href="#")
                                                        | Лор (ухо, горло, нос)
                                                li
                                                    a(href="#")
                                                        | ЛФК (лечебная физкультура)
                                                li
                                                    a(href="#")
                                                        | Массаж, мануальная терапия
                                                li
                                                    a(href="#")
                                                        | Наркомания
                                                li
                                                    a(href="#")
                                                        | Неврология
                                                li
                                                    a(href="#")
                                                        | Облысение, восстановление волос
                                                li
                                                    a(href="#")
                                                        | Онкология, все о раке
                                                li
                                                    a(href="#")
                                                        | Педиатрия, уход за ребенком
                                                li
                                                    a(href="#")
                                                        | Первая медпомощь
                                                li
                                                    a(href="#")
                                                        | Проктология, геморрой
                                                li
                                                    a(href="#")
                                                        | Психология, психиатрия

                                                li
                                                    a(href="#")
                                                        | Пульмонология, легкие
                                                li
                                                    a(href="#")
                                                        | Ревматология, суставы
                                            ul
                                                li
                                                    a(href="#")
                                                        | Рефлексотерапия
                                                li
                                                    a(href="#")
                                                        | Сексология
                                                li
                                                    a(href="#")
                                                        | Стоматология
                                                li
                                                    a(href="#")
                                                        | Туберкулез
                                                li
                                                    a(href="#")
                                                        | Урология
                                                li
                                                    a(href="#")
                                                        | Физиотерапия
                                                li
                                                    a(href="#")
                                                        | Хирургия
                                                li
                                                    a(href="#")
                                                        | Эндокринология (гормоны)
                        li.header-bottom-menu-ul-li
                            p
                                | Лечение за рубежом
                            .submenu-small
                                .submenu-small-wrap
                                    .site-width
                                        ul
                                            li
                                                a(href="#")
                                                    | Лечение в Израиле
                                            li
                                                a(href="#")
                                                    | Лечение в Германии
                                            li
                                                a(href="#")
                                                    | Лечение во Франции
                                            li
                                                a(href="#")
                                                    | Лечение в Болгарии
                                            li
                                                a(href="#")
                                                    | Лечение в Греции
                                            li
                                                a(href="#")
                                                    | Лечение в Чехии
                                            li
                                                a(href="#")
                                                    | Лечение в Турции
                                            li
                                                a(href="#")
                                                    | Медицина зарубежья
                        li.header-bottom-menu-ul-li
                            p
                                | Наше здоровье
                            .submenu-big
                                .wrap
                                    .site-width
                                        .wrap-inner
                                            ul
                                                li
                                                    span
                                                        | Медкниги, рефераты
                                                li
                                                    a(href="#")
                                                        | Рефераты по медицине
                                                li
                                                    a(href="#")
                                                        | Библиотека студента
                                            ul
                                                li
                                                    span
                                                        | Досуг и здоровье
                                                li
                                                    a(href="#")
                                                        | Медицинский юмор
                                                li
                                                    a(href="#")
                                                        | Карикатуры о здоровье
                                                li
                                                    a(href="#")
                                                        | Медицинский гороскоп
                                                li
                                                    a(href="#")
                                                        | Психологические тесты
                                                li
                                                    a(href="#")
                                                        | Программы для здоровья
                                            ul
                                                li
                                                    span
                                                        | Мед. информация
                                                li
                                                    a(href="#")
                                                        | Архив ответов на вопросы
                                                li
                                                    a(href="#")
                                                        | История медицины
                                                li
                                                    a(href="#")
                                                        | Медицина и право
                                                li
                                                    a(href="#")
                                                        | Бизнес и медицина
                                                li
                                                    a(href="#")
                                                        | Медицинские термины
                                                li
                                                    a(href="#")
                                                        | Презервативы
                                            ul
                                                li
                                                    span
                                                        | Мед. инструментарий
                                                li
                                                    a(href="#")
                                                        | Перчатки
                                                li
                                                    a(href="#")
                                                        | Медицинские маски

                        li.header-bottom-menu-ul-li
                            a(href='#')
                                | МЕДФИРМЫ
                        li.header-bottom-menu-ul-li
                            a(href='#')
                                | МЕДФОРУМ.GURU
            .header-top-mobile-content-all
                a.header-bottom-link-right(href="#")
                    | Все разделы
    .header-top
        .site-width
            .row
                .col.col-logo
                    .block-logo
                        a.block-logo-link(href='/')
                            +img('logo.png')
                            span
                                | Медицинская информационная сеть
                .col.col-right
                    .block-search
                        span.block-search-text.phone-hide-767
                            | ПОИСК
                        +img('icon/search.png', 'phone-hide-767')
                        form.block-search-form(action='https://www.medicinform.net/cgi-bin/riflex/search.pl', method='GET', name='name')
                            input(type='text', name='q')
                            input(type='hidden', name='stpos', value='0')
                            input(type='hidden', name='s', value='R')
                            input(type='submit', value='Найти')
    .header-bottom.phone-hide-767
        .header-bottom-menu
            .site-width
                .row
                    .col.col-header-bottom
                        ul.header-bottom-menu-ul
                            li.header-bottom-menu-ul-li
                                p
                                    | Новости и видео
                                .submenu-small
                                    .submenu-small-wrap
                                        .site-width
                                            ul
                                                li
                                                    a(href="#")
                                                        | Медновости
                                                li
                                                    a(href="#")
                                                        | Экспорт новостей
                                                li
                                                    a(href="#")
                                                        | Видео-канал о медицине
                                                li
                                                    a(href="#")
                                                        | Видео о психологииe
                                                li
                                                    a(href="#")
                                                        | Рассылка на емайл
                            li.header-bottom-menu-ul-li
                                p
                                    | Болезни и лекарства
                                .submenu-big
                                    .wrap
                                        .site-width
                                            .wrap-inner
                                                ul
                                                    li
                                                        span
                                                            | Лекарства
                                                    li
                                                        a(href="#")
                                                            | Инструкции лекарств
                                                    li
                                                        a(href="#")
                                                            | Статьи о лекарствах
                                                    li
                                                        span
                                                            | Нетрадиционная медицина
                                                    li
                                                        a(href="#")
                                                            | Восточная медицина
                                                    li
                                                        a(href="#")
                                                            | Народная медицина
                                                    li
                                                        a(href="#")
                                                            | Гомеопатия
                                                    li
                                                        a(href="#")
                                                            | Лечение травами
                                                    li
                                                        span
                                                            | Человек и...
                                                    li
                                                        a(href="#")
                                                            | Анатомия человека
                                                    li
                                                        a(href="#")
                                                            | Биология и генетика
                                                    li
                                                        a(href="#")
                                                            | Биохимия и человек

                                                    li
                                                        a(href="#")
                                                            | Компьютер и здоровье
                                                    li
                                                        a(href="#")
                                                            | Контрацепция
                                                    li
                                                        a(href="#")
                                                            | Косметология, красота
                                                ul
                                                    li
                                                        a(href="#")
                                                            | Сексуальное здоровье ее и его
                                                    li
                                                        a(href="#")
                                                            | Физиология человека
                                                    li
                                                        a(href="#")
                                                            | Фитнес и спорт
                                                    li
                                                        a(href="#")
                                                            | Человек и... кофе, пиво, солнце...
                                                    li
                                                        span
                                                            | Болезни
                                                    li
                                                        a(href="#")
                                                            | Алкоголизм
                                                    li
                                                        a(href="#")
                                                            | Аллергия
                                                    li
                                                        a(href="#")
                                                            | Гастроэнтерология
                                                    li
                                                        a(href="#")
                                                            | Гематология (болезни крови)
                                                    li
                                                        a(href="#")
                                                            | Гинекология
                                                    li
                                                        a(href="#")
                                                            | Диагностика (методы)
                                                    li
                                                        a(href="#")
                                                            | Диеты и питание
                                                    li
                                                        a(href="#")
                                                            | Зрение
                                                    li
                                                        a(href="#")
                                                            | Иммунология
                                                    li
                                                        a(href="#")
                                                            | Инфекции


                                                ul
                                                    li
                                                        a(href="#")
                                                            | Кардиология, сердце
                                                    li
                                                        a(href="#")
                                                            | Кожные, венерические болезни
                                                    li
                                                        a(href="#")
                                                            | Криотерапия (лечение холодом)
                                                    li
                                                        a(href="#")
                                                            | Лазеротерапия (лечение лазером)
                                                    li
                                                        a(href="#")
                                                            | Лор (ухо, горло, нос)
                                                    li
                                                        a(href="#")
                                                            | ЛФК (лечебная физкультура)
                                                    li
                                                        a(href="#")
                                                            | Массаж, мануальная терапия
                                                    li
                                                        a(href="#")
                                                            | Наркомания
                                                    li
                                                        a(href="#")
                                                            | Неврология
                                                    li
                                                        a(href="#")
                                                            | Облысение, восстановление волос
                                                    li
                                                        a(href="#")
                                                            | Онкология, все о раке
                                                    li
                                                        a(href="#")
                                                            | Педиатрия, уход за ребенком
                                                    li
                                                        a(href="#")
                                                            | Первая медпомощь
                                                    li
                                                        a(href="#")
                                                            | Проктология, геморрой
                                                    li
                                                        a(href="#")
                                                            | Психология, психиатрия

                                                    li
                                                        a(href="#")
                                                            | Пульмонология, легкие
                                                    li
                                                        a(href="#")
                                                            | Ревматология, суставы
                                                ul
                                                    li
                                                        a(href="#")
                                                            | Рефлексотерапия
                                                    li
                                                        a(href="#")
                                                            | Сексология
                                                    li
                                                        a(href="#")
                                                            | Стоматология
                                                    li
                                                        a(href="#")
                                                            | Туберкулез
                                                    li
                                                        a(href="#")
                                                            | Урология
                                                    li
                                                        a(href="#")
                                                            | Физиотерапия
                                                    li
                                                        a(href="#")
                                                            | Хирургия
                                                    li
                                                        a(href="#")
                                                            | Эндокринология (гормоны)
                            li.header-bottom-menu-ul-li
                                p
                                    | Лечение за рубежом
                                .submenu-small
                                    .submenu-small-wrap
                                        .site-width
                                            ul
                                                li
                                                    a(href="#")
                                                        | Лечение в Израиле
                                                li
                                                    a(href="#")
                                                        | Лечение в Германии
                                                li
                                                    a(href="#")
                                                        | Лечение во Франции
                                                li
                                                    a(href="#")
                                                        | Лечение в Болгарии
                                                li
                                                    a(href="#")
                                                        | Лечение в Греции
                                                li
                                                    a(href="#")
                                                        | Лечение в Чехии
                                                li
                                                    a(href="#")
                                                        | Лечение в Турции
                                                li
                                                    a(href="#")
                                                        | Медицина зарубежья
                            li.header-bottom-menu-ul-li
                                p
                                    | Наше здоровье
                                .submenu-big
                                    .wrap
                                        .site-width
                                            .wrap-inner
                                                ul
                                                    li
                                                        span
                                                            | Медкниги, рефераты
                                                    li
                                                        a(href="#")
                                                            | Рефераты по медицине
                                                    li
                                                        a(href="#")
                                                            | Библиотека студента
                                                ul
                                                    li
                                                        span
                                                            | Досуг и здоровье
                                                    li
                                                        a(href="#")
                                                            | Медицинский юмор
                                                    li
                                                        a(href="#")
                                                            | Карикатуры о здоровье
                                                    li
                                                        a(href="#")
                                                            | Медицинский гороскоп
                                                    li
                                                        a(href="#")
                                                            | Психологические тесты
                                                    li
                                                        a(href="#")
                                                            | Программы для здоровья
                                                ul
                                                    li
                                                        span
                                                            | Мед. информация
                                                    li
                                                        a(href="#")
                                                            | Архив ответов на вопросы
                                                    li
                                                        a(href="#")
                                                            | История медицины
                                                    li
                                                        a(href="#")
                                                            | Медицина и право
                                                    li
                                                        a(href="#")
                                                            | Бизнес и медицина
                                                    li
                                                        a(href="#")
                                                            | Медицинские термины
                                                    li
                                                        a(href="#")
                                                            | Презервативы
                                                ul
                                                    li
                                                        span
                                                            | Мед. инструментарий
                                                    li
                                                        a(href="#")
                                                            | Перчатки
                                                    li
                                                        a(href="#")
                                                            | Медицинские маски

                            li.header-bottom-menu-ul-li
                                a(href='#')
                                    | МЕДФИРМЫ
                            li.header-bottom-menu-ul-li
                                a(href='#')
                                    | МЕДФОРУМ.GURU
                            li.header-bottom-menu-ul-li.header-bottom-menu-ul-li-mobile
                                p
                                    | ...
                                .submenu-small.submenu-small-tabled
                                    .wrap
                                        .site-width
                                            .wrap-inner
                                                ul
                                                    li
                                                        a(href="#")
                                                            | МЕДФИРМЫ
                                                    li
                                                        a(href="#")
                                                            | МЕДФОРУМ.GURU
                    .col.col-right
                        a.header-bottom-link-right(href="#")
                            | Все разделы
        .header-bottom-link
            .site-width
                .row
                    .col.col-header-bottom
                        ul.header-bottom-link-ul
                            li.header-bottom-link-ul-li
                                a(href="#")
                                    | Планировщик беременности
                            li.header-bottom-link-ul-li
                                a(href="#")
                                    | Медицинский по разделам



























































