.header-bottom-link.phone-hide-767
    .site-width
        .row
            .col.col-header-bottom
                ul.header-bottom-link-ul
                    li.header-bottom-link-ul-li
                        a(href="#")
                            | Планировщик беременности
                    li.header-bottom-link-ul-li
                        a(href="#")
                            | Медицинский по разделам