.content-index
    section.last-news
        .last-news-big
            a.last-news-big-img
                +img('index-big.jpg')
            .last-news-big-content
                time
                    | 24.01.20
                a(href="#")
                    | Как мужчинам правильно ухаживать за собой
                p
                    | Многие мужчины игнорируют любой уход за своей кожей, уверенные в том, что это исключительно женское занятие. Но они допускают большую ошибку, поскольку мужская кожа требует не меньшего внимания и заботы, чем представительниц прекрасного пола. Зачастую у мужчин активней работают сальные железы, появляются более глубокие морщины, а также не редко возникает раздражение и высыпание после бритья. Потому ничего постыдного в ежедневном уходе за кожей своего лица нет. Как делать это правильно, и какие рекомендации на этот счет дают специалисты?
        .last-news-small
            .row
                .col
                    .last-news-small-item
                        a.last-news-small-item-img(href="#")
                            +img('index-small-1.jpg')
                        .last-news-small-item-content
                            a(href="#")
                                | Почему некоторые люди падают в обморок при виде крови?
                            time
                                | 24.01.20
                .col
                    .last-news-small-item
                        a.last-news-small-item-img(href="#")
                            +img('index-small-2.jpg')
                        .last-news-small-item-content
                            a(href="#")
                                | Чем нужно питаться, чтобы сделать свои кости крепкими?
                            time
                                | 24.01.20
                .col
                    .last-news-small-item
                        a.last-news-small-item-img(href="#")
                            +img('index-small-3.jpg')
                        .last-news-small-item-content
                            a(href="#")
                                | Почему некоторые люди падают в обморок при виде крови?
                            time
                                | 24.01.20
                .col
                    .last-news-small-item
                        a.last-news-small-item-img(href="#")
                            +img('index-small-4.jpg')
                        .last-news-small-item-content
                            a(href="#")
                                | Чем нужно питаться, чтобы сделать свои кости крепкими?
                            time
                                | 24.01.20
    section.last-med
        .last-med-title
            .h2
                | Последние медновости
        .last-med-content
            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | Почему температура тела современного человека стала ниже, чем у людей в XIX веке?

            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | Какие продукты опасно употреблять, если они хранились в морозилке?

            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | В каких случаях длинные волосы могут стать причиной головной боли?

            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | Как понять, что в организме не хватает цинка?

            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | 5 ошибок, которые делают мытье рук бесполезным

            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | Зуд ног может быть признаком рака и других опасных заболеваний

            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | Как обычная мочалка может навредить нашему здоровью?
            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | 5 причин, из-за которых вы можете постоянно переедать
            .last-med-content-item
                time
                    | 22.01.20
                a
                    | Вода с солью – древнее средство от боли в горле и проблем с деснами
            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | Почему температура тела современного человека стала ниже, чем у людей в XIX веке?
            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | Какие продукты опасно употреблять, если они хранились в морозилке?
            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | В каких случаях длинные волосы могут стать причиной головной боли?
            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | Как понять, что в организме не хватает цинка?
            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | 5 ошибок, которые делают мытье рук бесполезным
            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | Зуд ног может быть признаком рака и других опасных заболеваний
            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | Как обычная мочалка может навредить нашему здоровью?
            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | 5 причин, из-за которых вы можете постоянно переедать
            .last-med-content-item
                time
                    | 22.01.20
                a(href="#")
                    | Вода с солью – древнее средство от боли в горле и проблем с деснами
        a.all-med(href="#")
            | Все медновости
    .col.col-sidebar.phone-show
        include sidebar-tablet
    section.goroskop
        .h3
            | Гороскоп
        .goroskop-content
            a.goroskop-content-item(href="https://www.medicinform.net/horoscop/oven.htm")
                +img('icon/9.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Овен
                    .goroskop-content-item-content-date
                        | 26.01.2020
            a.goroskop-content-item(href="https://www.medicinform.net/horoscop/telec.htm")
                +img('icon/3.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Телец
                    .goroskop-content-item-content-date
                        | 26.01.2020
            a.goroskop-content-item(href="#")
                +img('icon/7.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Близнецы
                    .goroskop-content-item-content-date
                        | 26.01.2020

            a.goroskop-content-item(href="#")
                +img('icon/10.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Рак
                    .goroskop-content-item-content-date
                        | 26.01.2020

            a.goroskop-content-item(href="#")
                +img('icon/5.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Лев
                    .goroskop-content-item-content-date
                        | 26.01.2020

            a.goroskop-content-item(href="#")
                +img('icon/4.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Дева
                    .goroskop-content-item-content-date
                        | 26.01.2020

            a.goroskop-content-item(href="#")
                +img('icon/6.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Весы
                    .goroskop-content-item-content-date
                        | 26.01.2020

            a.goroskop-content-item(href="#")
                +img('icon/2.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Скорпион
                    .goroskop-content-item-content-date
                        | 26.01.2020

            a.goroskop-content-item(href="#")
                +img('icon/1.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Стрелец
                    .goroskop-content-item-content-date
                        | 26.01.2020

            a.goroskop-content-item(href="#")
                +img('icon/11.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Козерог
                    .goroskop-content-item-content-date
                        | 26.01.2020

            a.goroskop-content-item(href="#")
                +img('icon/12.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Водолей
                    .goroskop-content-item-content-date
                        | 26.01.2020

            a.goroskop-content-item(href="#")
                +img('icon/8.png')
                .goroskop-content-item-content
                    .goroskop-content-item-content-title
                        | Рыбы
                    .goroskop-content-item-content-date
                        | 26.01.2020
