aside.sidebar#sidebar
    .row
        .col
            //.sidebar-medforum
            //    .sidebar-medforum-title
            //        span
            //            | Медфорум.GURU
            //        |  прямой эфир
            //    ul.sidebar-medforum-list
            //        li
            //            a(href="#")
            //                | Маленькая грудь
            //        li
            //            a(href="#")
            //                | Выпадают волосы после родов
            //        li
            //            a(href="#")
            //                | Летняя простуда
            //        li
            //            a(href="#")
            //                | Хруст и скованность движений. Что делать?
            .sidebar-title
                span
                    | Новое на сайте
            .sidebar-new
                .sidebar-new-item
                    .sidebar-new-item-content
                        a(href="")
                            | Операции по увеличению и подтяжке груди
                        p
                            | - показания для операции, виды операций, что делают при операции при подтяжке груди
                .sidebar-new-item
                    .sidebar-new-item-content
                        a(href="")
                            | Морковь – незаменимый помощник при нарушениях потенции и либидо у мужчин
                        p
                            | - как и почему влияет морковь на потенцию, дополнительная польза моркови
                .sidebar-new-item
                    .sidebar-new-item-content
                        a(href="")
                            | В каких случаях призывника не берут в армию
                        p
                            | - возможность получения отсрочки и освобождения от службы
                .sidebar-new-item
                    .sidebar-new-item-content
                        a(href="")
                            | Когда нужен хороший флеболог
                        p
                            | - где найти хорошего флеболога и врачей других специализаций в Санкт-Петербурге, клиника «Альтермед»
                .sidebar-new-item
                    .sidebar-new-item-content
                        a(href="")
                            | Регулярный профосмотр и посещение онколога
                        p
                            | - преимущества при установке коронок из диоксида циркония

                .sidebar-new-item
                    .sidebar-new-item-content
                        a(href="")
                            | Регулярный профосмотр и посещение онколога
                        p
                            | - преимущества при установке коронок из диоксида циркония

                .sidebar-new-item
                    .sidebar-new-item-content
                        a(href="")
                            | Регулярный профосмотр и посещение онколога
                        p
                            | - преимущества при установке коронок из диоксида циркония

                .sidebar-new-item
                    .sidebar-new-item-content
                        a(href="")
                            | Регулярный профосмотр и посещение онколога
                        p
                            | - преимущества при установке коронок из диоксида циркония

                .sidebar-new-item
                    .sidebar-new-item-content
                        a(href="")
                            | Регулярный профосмотр и посещение онколога
                        p
                            | - преимущества при установке коронок из диоксида циркония

            a.archive-article(href="#")
                | Архив статей
        .col
            a.appointment
                +img('content/baner-zapis.jpg')
                //b
                //    | Запись
                //span
                //    | к врачу
            .sidebar-title
                span
                    | Наши партнеры
            .sidebar-new.sidebar-partners
                .sidebar-new-item
                    +img('content/partner.jpg')
                    .sidebar-new-item-content
                        a(href="")
                            | Форум о пластической хирургии
                        p
                            a(href="#")
                                | prof-medicina.ru
                .sidebar-new-item
                    .sidebar-new-item-content
                        a(href="")
                            | Метастазы рака яичника
                        p
                            | - узнать больше информации в статьях врачей Европейской клиники.
            .sidebar-title
                span
                    | К сведению...
            a.sidebar-block-img(href="#")
                +img('content/ksv.jpg')
