.content-index.content-single
    h1.h1
        | Особенности и преимущества закрытой (сохраняющей) ринопластики
    section.posts-content
        img(src="assets/images/content/content-1.jpg")(align="right")
        p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer <a href="#">ссылка в тексте</a> adipiscing elit, sed diam nonummy nibh euismod euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
        h2
            | Закрытая и открытая ринопластика - основные отличия
        p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
        p
            | dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
        p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
        p
            | dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
        h2
            | Преимущества закрытой ринопластики
        img(src="assets/images/content/content-2.jpg")(align="left")
        p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
        p
            | dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
        p
            | dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.

    section.reklama
        <div class="commercial"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1046566326511977" data-ad-slot="8159154992" data-ad-format="auto" data-full-width-responsive="true"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>
    section.posts-2
        ul.posts-2-list
            li.posts-2-list-item
                a(href="#")
                    +img('content/post-2-1.jpg')
                a.posts-2-list-item-title(href="#")
                    | Какие продукты опередили молоко по содержанию кальция?
            li.posts-2-list-item
                a(href="#")
                    +img('content/post-2-2.jpg')
                a.posts-2-list-item-title(href="#")
                    | Почему обогреватели вредят здоровью и могут даже привести к смерти?
            li.posts-2-list-item
                a(href="#")
                    +img('content/post-2-3.jpg')
                a.posts-2-list-item-title(href="#")
                    | 7 причин каждый день съедать по два яйца
            li.posts-2-list-item
                a(href="#")
                    +img('content/post-2-4.jpg')
                a.posts-2-list-item-title(href="#")
                    | Что нужно сделать, чтобы не заболеть коронавирусом?
            li.posts-2-list-item
                a(href="#")
                    +img('content/post-2-5.jpg')
                a.posts-2-list-item-title(href="#")
                    | Какие продукты опередили молоко по содержанию кальция?
            li.posts-2-list-item
                a(href="#")
                    +img('content/post-2-1.jpg')
                a.posts-2-list-item-title(href="#")
                    | Какие продукты опередили молоко по содержанию кальция?
            li.posts-2-list-item
                a(href="#")
                    +img('content/post-2-2.jpg')
                a.posts-2-list-item-title(href="#")
                    | Почему обогреватели вредят здоровью и могут даже привести к смерти?
            li.posts-2-list-item
                a(href="#")
                    +img('content/post-2-3.jpg')
                a.posts-2-list-item-title(href="#")
                    | 7 причин каждый день съедать по два яйца
            li.posts-2-list-item
                a(href="#")
                    +img('content/post-2-4.jpg')
                a.posts-2-list-item-title(href="#")
                    | Что нужно сделать, чтобы не заболеть коронавирусом?
            li.posts-2-list-item
                a(href="#")
                    +img('content/post-2-5.jpg')
                a.posts-2-list-item-title(href="#")
                    | Какие продукты опередили молоко по содержанию кальция?
    section.smtag
        .smtag-title.h2
            | Смотрите также:
        ul.smtag-block
            li.smtag-block-item
                a.smtag-block-item-title(href="#")
                    | Гинекология и акушерство
            li.smtag-block-item
                a.smtag-block-item-title(href="#")
                    | Новости мира медицины
            li.smtag-block-item
                a.smtag-block-item-title(href="#")
                    | Диетология
            li.smtag-block-item
                a.smtag-block-item-title(href="#")
                    | Видео-сюжеты о медицине
    section.blocks-category
        .row
            .col
                .block-takge-read
                    .h2.block-title
                        | У нас также читают:
                    ul.block-link.block-back
                        li
                            a(href="#")
                                | Сахар и искусственные подсластители
                        li
                            a(href="#")
                                | Реабилитация после инсульта
                        li
                            a(href="#")
                                | Мозговой инсульт
                        li
                            a(href="#")
                                | Поглаживание как прием массажа
                        li
                            a(href="#")
                                | Мозговой инсульт
                        li
                            a(href="#")
                                | Поглаживание как прием массажа
            .col
                .block-baner.block-back
                    +img('content/baner-ali.png')
            .col
                .h2.block-title
                    | К сведению
                .block-baner.block-baner-2
                    +img('content/baner-bf.png')
            .col
                .h2.block-title
                    | Наши партнеры
                .block-partners
                    .block-partners-item
                        +img('content/butik.png')
                        p
                            | Бутик.ру
                            a(href="#")(target="_blank")
                                |  trussardi официальный сайт
                    .block-partners-item
                        +img('content/kolos.png')
                        p
                            a(href="#")(target="_blank")
                                | Папиллярная карцинома щитовидной железы выживаемость
                        p
                            |  - читайте всю информацию об онкологических заболеваниях на сайте Европейской клиники.
                    .block-partners-item
                        +img('content/prof.png')
                        p
                            a(href="#")(target="_blank")
                                | Форум о пластической хирургии
                        p
                            |  prof-medicina.ru
