html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* custom-reset.css | 20.08.2018 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Light';
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Light Italic';
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("../fonts/opensanslightitalic.woff2") format("woff2"), url("../fonts/opensanslightitalic.woff") format("woff"), url("../fonts/opensanslightitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/opensansitalic.woff2") format("woff2"), url("../fonts/opensansitalic.woff") format("woff"), url("../fonts/opensansitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/opensanssemibold.woff2") format("woff2"), url("../fonts/opensanssemibold.woff") format("woff"), url("../fonts/opensanssemibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("../fonts/opensanssemibolditalic.woff2") format("woff2"), url("../fonts/opensanssemibolditalic.woff") format("woff"), url("../fonts/opensanssemibolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold Italic';
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/opensansbolditalic.woff2") format("woff2"), url("../fonts/opensansbolditalic.woff") format("woff"), url("../fonts/opensansbolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Extrabold';
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("../fonts/opensansextrabold.woff2") format("woff2"), url("../fonts/opensansextrabold.woff") format("woff"), url("../fonts/opensansextrabold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Extrabold Italic';
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("../fonts/opensansextrabolditalic.woff2") format("woff2"), url("../fonts/opensansextrabolditalic.woff") format("woff"), url("../fonts/opensansextrabolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Palatino Linotype';
  src: url("../fonts/PalatinoLinotype-Roman.eot");
  src: local("Palatino Linotype"), local("PalatinoLinotype-Roman"), url("../fonts/PalatinoLinotype-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/PalatinoLinotype-Roman.woff2") format("woff2"), url("../fonts/PalatinoLinotype-Roman.woff") format("woff"), url("../fonts/PalatinoLinotype-Roman.ttf") format("truetype"), url("../fonts/PalatinoLinotype-Roman.svg#PalatinoLinotype-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Mixin */
.site-width {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
}

@media screen and (max-width: 991px) {
  .site-width {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@media screen and (max-width: 991px) {
  .col {
    padding-right: 0;
    padding-left: 0;
  }
}

.phone-show {
  display: none;
}

@media screen and (max-width: 991px) {
  .phone-show {
    display: block;
  }
}

.phone-hide {
  display: block;
}

@media screen and (max-width: 991px) {
  .phone-hide {
    display: none;
  }
}

.phone-show-imp {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .phone-show-imp {
    display: block !important;
  }
}

.phone-hide-imp {
  display: block !important;
}

@media screen and (max-width: 991px) {
  .phone-hide-imp {
    display: none !important;
  }
}

.phone-show-flex {
  display: none;
}

@media screen and (max-width: 991px) {
  .phone-show-flex {
    display: flex;
  }
}

.phone-hide-flex {
  display: flex;
}

@media screen and (max-width: 991px) {
  .phone-hide-flex {
    display: none;
  }
}

.phone-show-flex-imp {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .phone-show-flex-imp {
    display: flex !important;
  }
}

.phone-hide-flex-imp {
  display: flex !important;
}

@media screen and (max-width: 991px) {
  .phone-hide-flex-imp {
    display: none !important;
  }
}

*, :after, :before {
  box-sizing: border-box;
}

*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  min-width: 320px;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-size: 14px;
  color: #252525;
}

.active-form {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: all 0.3s linear;
}

p {
  line-height: 28px;
}

.col-center {
  display: flex;
  justify-content: center;
}

.col-right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.h1 {
  font-size: 54px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  line-height: 64px;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 991px) {
  .h1 {
    font-size: 24px;
    line-height: 29px;
  }
}

.h1.h1-page {
  font-size: 32px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 38px;
  letter-spacing: normal;
}

@media screen and (max-width: 991px) {
  .h1.h1-page {
    font-size: 24px;
    line-height: 29px;
  }
}

.h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 47px;
}

@media screen and (max-width: 991px) {
  .h2 {
    font-size: 20px;
    line-height: 26px;
  }
}

.h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
}

.row-content {
  margin-left: -12.5px;
  margin-right: -12.5px;
}

@media screen and (max-width: 991px) {
  .row-content {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.col-content {
  max-width: calc(100% - 318px);
  padding-left: 12.5px;
  padding-right: 12.5px;
}

@media screen and (max-width: 991px) {
  .col-content {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.col-sidebar {
  max-width: 318px;
  padding-left: 12.5px;
  padding-right: 12.5px;
}

@media screen and (max-width: 991px) {
  .col-sidebar {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }
}

.text-center {
  text-align: center;
}

.hide {
  overflow: hidden;
  opacity: 0;
}

.back-to {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .back-to {
    font-size: 16px;
    line-height: 19px;
  }
}

.back-to svg {
  left: 0;
  position: relative;
  margin-right: 12px;
  transition: all .5s;
}

@media screen and (max-width: 991px) {
  .back-to svg {
    width: 15px;
    height: 14px;
  }
}

.back-to:hover svg {
  left: -10px;
}

.btn {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 500;
  max-width: 100%;
  width: 76px;
  height: 54px;
  transition: all 0.3s linear;
  border-radius: 0;
  color: #ffffff;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  text-decoration: none;
}

.btn-big {
  max-width: 242px;
}

.btn-big-2 {
  max-width: 292px;
}

.btn-big-3 {
  max-width: 255px;
}

.btn-big-4 {
  max-width: 267px;
}

.btn-small {
  width: 182px;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

input {
  background-color: #ffffff;
  border: none;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 15px;
}

header .header-top {
  border-bottom: 1px solid #eee;
  height: 70px;
  background: linear-gradient(to bottom, #138bc2 1%, #097ab1 100%);
}

header .header-top .block-search {
  display: flex;
  align-items: center;
}

header .header-top .block-search-text {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding-right: 10px;
}

header .header-top .block-search-form {
  padding-left: 10px;
}

header .header-top .block-search-form input[type=text] {
  max-width: 153px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

header .header-top .block-search-form input[type=submit] {
  color: #0b7eb5;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #daebf4;
  position: relative;
  top: -1px;
}

header .header-top .col-logo {
  flex-basis: 40%;
}

header .header-top .col-logo .block-logo-link {
  display: flex;
  align-items: center;
}

header .header-top .col-logo .block-logo-link .img {
  position: relative;
  left: -36px;
}

header .header-top .col-logo .block-logo-link span {
  color: #ffffff;
  font-family: "Palatino Linotype", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-left: -36px;
}

header .header-bottom-menu {
  height: 34px;
  border-top: 1px solid #097ab1;
  background-color: #e2e2e2;
}

header .header-bottom-menu .col-header-bottom {
  flex-basis: 65%;
}

header .header-bottom-menu-ul {
  display: flex;
}

header .header-bottom-menu-ul li {
  padding-right: 25px;
}

header .header-bottom-menu-ul li:hover p + div {
  display: block;
}

header .header-bottom-menu-ul li a {
  color: #242424;
  text-transform: uppercase;
  line-height: 34px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  font-family: "Open Sans Semibold", sans-serif;
}

header .header-bottom-menu-ul li a:hover {
  text-decoration: underline;
}

header .header-bottom-menu-ul li p {
  color: #242424;
  text-transform: uppercase;
  line-height: 34px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  font-family: "Open Sans Semibold", sans-serif;
}

header .header-bottom-menu-ul li p:hover {
  text-decoration: underline;
}

header .header-bottom-menu-ul li .submenu-small {
  display: none;
  position: absolute;
  width: 100%;
  height: 34px;
  left: 0;
  z-index: 2;
  margin-top: -4px;
  padding-top: 4px;
}

header .header-bottom-menu-ul li .submenu-small-wrap {
  background-color: #ffffff;
  border-bottom: 1px solid #bbb;
}

header .header-bottom-menu-ul li .submenu-small-wrap ul {
  display: flex;
}

header .header-bottom-menu-ul li .submenu-small-wrap ul li {
  padding-right: 10px;
}

header .header-bottom-menu-ul li .submenu-small-wrap ul li a {
  text-transform: none;
  text-decoration: underline;
  font-size: 11px;
}

header .header-bottom-menu-ul li .submenu-small-wrap ul li a:hover {
  color: #1289c0;
}

header .header-bottom-menu-ul li .submenu-big {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
  padding: 20px 0;
  margin-top: -4px;
  padding-top: 4px;
}

header .header-bottom-menu-ul li .submenu-big .wrap {
  background-color: #ffffff;
  border-bottom: 1px solid #bbb;
}

header .header-bottom-menu-ul li .submenu-big .wrap .wrap-inner {
  display: flex;
}

header .header-bottom-menu-ul li .submenu-big .wrap .wrap-inner ul {
  padding-top: 20px;
  padding-bottom: 15px;
}

header .header-bottom-menu-ul li .submenu-big .wrap .wrap-inner ul li:first-child span {
  padding-top: 0;
}

header .header-bottom-menu-ul li .submenu-big .wrap .wrap-inner ul li a {
  text-transform: none;
  text-decoration: underline;
  line-height: 18px;
}

header .header-bottom-menu-ul li .submenu-big .wrap .wrap-inner ul li a:hover {
  color: #1289c0;
}

header .header-bottom-menu-ul li .submenu-big .wrap .wrap-inner ul li span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 4px;
  display: block;
  padding-top: 15px;
}

header .header-bottom .header-bottom-link-right {
  text-transform: uppercase;
  font-size: 11px;
  color: #242424;
  font-weight: 300;
  position: relative;
  opacity: 0.5;
  display: flex;
  align-items: center;
  padding-right: 12px;
}

header .header-bottom .header-bottom-link-right:after {
  content: '';
  position: absolute;
  top: 16px;
  right: 0;
  border: 4px solid transparent;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 4px;
  border-top: 4px solid #242424;
}

header .header-bottom .header-bottom-link {
  background-color: #f0f0f0;
  height: 34px;
}

header .header-bottom .header-bottom-link ul {
  display: flex;
  align-items: center;
  line-height: 34px;
}

header .header-bottom .header-bottom-link ul li {
  position: relative;
  padding-right: 30px;
}

header .header-bottom .header-bottom-link ul li:after {
  position: absolute;
  content: '|';
  color: #0c7eb6;
  right: 10px;
}

header .header-bottom .header-bottom-link ul li a {
  color: #0c7eb6;
}

header .header-bottom .header-bottom-link ul li a:hover {
  text-decoration: underline;
}

header .header-bottom .header-bottom-link ul li:last-child:after {
  content: none;
}

.last-news {
  padding-bottom: 5px;
  padding-top: 5px;
}

.last-news-big {
  padding-bottom: 5px;
  display: flex;
}

.last-news-big-img {
  padding-right: 7.5px;
}

.last-news-big-img img {
  width: 100%;
}

.last-news-big-content {
  width: 50%;
  padding-left: 7.5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.last-news-big-content time {
  background-color: #f0f0f0;
  color: #838383;
  font-size: 11px;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Open Sans Light", sans-serif;
}

.last-news-big-content a {
  display: block;
  font-size: 18px;
  font-family: "Open Sans Bold", sans-serif;
  color: #1289c0;
  text-decoration: underline;
  line-height: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
}

.last-news-big-content a:hover {
  text-decoration: none;
}

.last-news-big-content p {
  line-height: 18px;
}
