
*, :after, :before {
  box-sizing: border-box;
}

*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {

  min-width: 320px;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-y: scroll;
  font-family: $font;
  min-height: 100%;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-size: 14px;
  color: $main-color;

}

.active-form {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: all 0.3s linear;
}

p {
  line-height: 28px;
}

.col-center {
  display: flex;
  justify-content: center;
}

.col-right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.h1 {
  font-size: 54px;
  font-weight: 500;
  font-family: $font;
  line-height: 64px;
  letter-spacing: 0.02em;
  @include phone-991 {
    font-size: 24px;
    line-height: 29px;
  }
}

.h1.h1-page {
  font-size: 32px;
  font-weight: 600;
  font-family: $font;
  line-height: 38px;
  letter-spacing: normal;
  @include phone-991 {
    font-size: 24px;
    line-height: 29px;
  }
}

.h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 47px;
  @include phone-991 {
    font-size: 20px;
    line-height: 26px;
  }
}

.h3 {
  font-family: $font;
  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
}

.row-content {
  margin-left: -12.5px;
  margin-right: -12.5px;
  @include phone-991 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.col-content {
  max-width: calc(100% - 391px);
  padding-left: 12.5px;
  padding-right: 12.5px;
  @include phone-991 {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.page-single {
  .row-content {
    margin-left: -20px;
    margin-right: -20px;
    @include phone-991 {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .col-content {
    max-width: calc(100% - 410px);
    padding-left: 20px;
    padding-right: 20px;
    @include phone-991 {
      max-width: 100%;
      padding-left: 28px;
      padding-right: 24px;
    }
    @include phone-374 {
      padding-left: 18px;
      padding-right: 14px;
    }
  }

  .col-sidebar {
    max-width: 410px;
    padding-left: 20px;
    padding-right: 20px;
    @include phone-991 {
      display: none;
    }
  }
}

.col-sidebar {
  max-width: 391px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  @include phone-991 {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }
}

.col-news {
  padding-left: 12px;
  padding-right: 12px;
  flex: 1 1 33.33333333%;
  max-width: 33.33333333%;
  @include phone-991 {
    padding-left: 28px;
    padding-right: 28px;
    flex: 1 1 50%;
    max-width: 50%;
  }
  @include phone-560 {
    padding-left: 0px;
    padding-right: 0px;
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.single-last-news, .page-politics {
  .row {
    margin-right: -20px;
    margin-left: -20px;
    @include phone-991 {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .col-news {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1 1 33.33333333%;
    max-width: 33.33333333%;
    @include phone-991 {
      padding-left: 28px;
      padding-right: 28px;
      flex: 1 1 50%;
      max-width: 50%;
    }
    @include phone-560 {
      padding-left: 0px;
      padding-right: 0px;
      flex: 1 1 100%;
      max-width: 100%;
    }
    &:last-child {
      display: none;
      @include phone-991 {
        display: block;
      }
      @include phone-560 {
        display: none;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.hide {

  overflow: hidden;
  opacity: 0;

}

.back-to {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  font-weight: 500;
  @include phone-991 {
    font-size: 16px;
    line-height: 19px;
  }

  svg {
    left: 0;
    position: relative;
    margin-right: 12px;
    transition: all .5s;
    @include phone-991 {
      width: 15px;
      height: 14px;
    }


  }

  &:hover svg {
    left: -10px;
  }
}