.btn {

  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $back;
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 500;
  max-width: 100%;
  width: 76px;
  height: 54px;
  transition: all 0.3s linear;
  border-radius: 0;
  color: $white-color;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    text-decoration: none;
  }


  &-big {

    max-width: 242px;

  }

  &-big-2 {

    max-width: 292px;

  }

  &-big-3 {

    max-width: 255px;

  }

  &-big-4 {

    max-width: 267px;

  }

  &-small {
    width: 182px;
  }

}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
