input {
  background-color: $back-input;
  border: none;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 15px;
  @include phone-991 {

  }
  @include phone-374 {

  }
}

textarea {

}