.site-width {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1230px;

  @include phone-1023 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  @include phone-1023 {
    margin-right: 0px;
    margin-left: 0px;
  }

}

.col {
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  @include phone-1023 {
    padding-right: 0;
    padding-left: 0;
  }


}

.phone-show {
  display: none;
  @include phone-1023 {
    display: block;
  }
}

.phone-hide {
  display: block;
  @include phone-1023 {
    display: none;
  }
}

.phone-show-767 {
  display: none;
  @include phone-767 {
    display: block;
  }
}

.phone-hide-767 {
  display: block;
  @include phone-767 {
    display: none;
  }
}
