$font:'Open Sans',sans-serif;
$font-light:'Open Sans Light',sans-serif;
$font-bold:'Open Sans Bold',sans-serif;
$font-semibold:'Open Sans Semibold',sans-serif;
$font2:'Palatino Linotype',sans-serif;
$back-header-top: linear-gradient(to bottom, rgba(19, 139, 194, 1) 1%, rgba(9, 122, 177, 1) 100%);
$back-header-bottom-1: #e2e2e2;
$back-header-bottom-2: #f0f0f0;
$back-time: #f0f0f0;
$back-last-news: #f3f9fc;
$back-last-med-title: #f0f0f0;
$back-last-med: #f3f9fc;
$back-sidebar-title: #1289c0;
$back-sidebar-title-2: #0b527c;
$back-zapis: #0d81b8;
$color-time: #838383;
$color-time-2: #b3b3b3;
$color-time-goroskop: #696969;
$main-color: #252525;
$color-title: #262626;
$white-color: #ffffff;
$color-button: #0b7eb5;
$color-menu: #242424;
$color-link: #1289c0;
$color-brand: #0c7eb6;
$color-zapis: #74bfe2;
$back-button: #daebf4;
$back-white: #ffffff;
$back-sidebar: #f7f7f7;

$color-time-last: #2F80ED;
$color-time-view: #666666;
$color-all-news: #2F80ED;
$color-video: #666666;
$color-copyright: #666666;
$color-footer-link: #666666;
$color-newsletter-title: #666666;
$color-placeholder: rgba(102, 102, 102, 0.5);
$color-sidebar-single-date: rgba(17, 17, 17, 0.7);
$color-caption-img: rgba(17, 17, 17, 0.7);
$color-blockquote: rgba(17, 17, 17, 0.5);
$color-sidebar-category: #2F80ED;
$color-label-form: #666666;
$color-input: #C5C5C5;
$color-h1-404: #2F80ED;

$color-logo-mobile: #2F80ED;
$color-menu-mobile: rgba(17, 17, 17, 0.5);
$back-sidebar-home: #F5F5F7;
$back-input: #ffffff;
$back-important: #EB5757;
$back-category: rgba(255, 255, 255, 0.7);
$back-icon-video: rgba(17, 17, 17, 0.15);
$back-video: #F5F5F7;
$back-social: #F5F5F7;
$baqck-tag: #2F80ED;
$back-telegram-mobile: rgba(0, 0, 0, 0.5);
$border-input: #e8e8e8;
$border-all-news: #2F80ED;
$border-home-menu: #111111;
$border-home-menu2: #D1D1D1;
$border-menu-vn: #D1D1D1;
