$font:'Open Sans',sans-serif;
$font2:'Palatino Linotype',sans-serif;
$back: #2F80ED;
$main-color: #252525;
$white-color: #ffffff;
$color-time-last: #2F80ED;
$color-time-view: #666666;
$color-all-news: #2F80ED;
$color-video: #666666;
$color-copyright: #666666;
$color-footer-link: #666666;
$color-newsletter-title: #666666;
$color-placeholder: rgba(102, 102, 102, 0.5);
$color-sidebar-single-date: rgba(17, 17, 17, 0.7);
$color-caption-img: rgba(17, 17, 17, 0.7);
$color-blockquote: rgba(17, 17, 17, 0.5);
$color-sidebar-category: #2F80ED;
$color-label-form: #666666;
$color-input: #C5C5C5;
$color-h1-404: #2F80ED;
$back-white: #ffffff;
$color-logo-mobile: #2F80ED;
$color-menu-mobile: rgba(17, 17, 17, 0.5);
$back-sidebar-home: #F5F5F7;
$back-input: #ffffff;
$back-important: #EB5757;
$back-category: rgba(255, 255, 255, 0.7);
$back-icon-video: rgba(17, 17, 17, 0.15);
$back-video: #F5F5F7;
$back-social: #F5F5F7;
$baqck-tag: #2F80ED;
$back-telegram-mobile: rgba(0, 0, 0, 0.5);
$border-input: #e8e8e8;
$border-all-news: #2F80ED;
$border-home-menu: #111111;
$border-home-menu2: #D1D1D1;
$border-menu-vn: #D1D1D1;
